@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'PPMonumentExtended-Black';
  src: url(./assets/fonts/PPMonumentExtended-Black.otf)
}
@font-face {
  font-family:PPMonumentExtended-Regular ;
  src: url(./assets/fonts/PPMonumentExtended-Regular.otf);
}
@font-face {
  font-family: 'PPMonumentExtended-Light';
  src: url(./assets/fonts/PPMonumentExtended-Light.otf);
}
@layer base {
  body{
   
  
  
  }

  li{
    @apply px-8;
    @apply cursor-pointer;
   
  }
html{
  overflow-y:none;
}


}
.content-div{
  background-image: no-repeat;
  background-size:cover;
  background-position: center;
  aspect-ratio: 16 / 9;


}
.content-di{
  aspect-ratio: 16/9;
  background-image: no-repeat;
  background-size:cover;
  background-position: center;
  
}

.content-div:hover{
  transition: 1s ease;
  background-color:#f2f2f2;
  opacity: 0.8;
  transition: smooth;
  -webkit-transition: smooth;
  -moz-transition: smooth;
  -ms-transition: smooth;
  -o-transition: smooth;
  transition: .5s ease;
}
              


