@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
      
  }
  

  li{
    @apply px-8;
    @apply cursor-pointer;
  }



}
.content-div{
  background-image: no-repeat;
  background-size:cover;
  background-position: center;
  height: 400px;
  background-color:#f2f2f2;
  opacity: 0.8;
}
.content-div:hover{
  transition: 1s ease;
  background-color:#f2f2f2;
  opacity: 0.8;

}
.overlay{
 
 
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fcfcfc
}
.content-div:hover .overlay{
  opacity: 0.8;
}
