@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'PPMonumentExtended-Black';
  src: url(./assets/fonts/PPMonumentExtended-Black.otf)
}
@font-face {
  font-family:PPMonumentExtended-Regular ;
  src: url(./assets/fonts/PPMonumentExtended-Regular.otf);
}
@font-face {
  font-family: 'PPMonumentExtended-Light';
  src: url(./assets/fonts/PPMonumentExtended-Light.otf);
}
@layer base {
  body{
   
  
  
  }

  li{
    @apply px-8;
    @apply cursor-pointer;
   
  }
html{
  scrollbar-width: none;
}


}
.content-div{
  background-image: no-repeat;
  background-size:cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  background-color:#f2f2f2;
  opacity: 0.8;
}
.content-div:hover{
  transition: 1s ease;
  background-color:#f2f2f2;
  opacity: 0.8;

}
.overlay{
 
 
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fcfcfc
}
.content-div:hover .overlay{
  opacity: 0.8;
}
